.background{
    background-color: #040404;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

.circulos{
    position: absolute;
    left: -150px;
    top: 110px;
}

.circulo2{
    position: absolute;
    left: -25%;
    top: 85%;

}

.circulos3{
    position: absolute;
    top: 320%;
    left: -15%;
}

.background__img{
    background-image: url("https://humbertoqueiroz.github.io/imagens/neo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo1{
    margin-top: 265px;
}
.titulo{
    font-size: 3rem;
}

.nome{
    text-decoration: underline;
    text-decoration-color: aquamarine;
    text-underline-offset: 0.5rem;
}

.linha{
    width: 100%;
    border-bottom: 1px solid #ffffff;
}

.circulos2{
    position: absolute;
    top: 210%;
    left: 58%;
}

