html{
  font-family: 'Roboto', sans-serif;
  color: #0d519b;
  
}

.containerInicial{
  height: 100vh;
}

header{
  position: fixed;
  z-index: 9999;
  width: 100%;
}

.containerTopo{
  background-color: #0e315d;
  color: white;
  display: flex;
  flex-direction: row;
  height: 15vh;
  padding: 15px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 1.25rem;
    
}

.containerIcone{
  width: 60px;
  border-radius: 300px;
  padding: 10px;
  border: 2px solid #ffffff;
  display: flex;
}

.containerIcone:hover{
  border: 5px solid#48cbff;
  transition: .8s;
}

.containerIcone img{
  width: 50px;
}

svg:hover {
  fill: #48cbff;
}

.containerTopo nav a {
    margin-left: 5px;
    text-decoration: underline;
}

.containerTopo nav a:hover{
    color: #48cbff;
    font-size: 1.8rem;
    transition: 1s;
}


.containerRedesSociais{
    padding: 10px 20px;
    border: 2px solid rgb(72,203,255,.0);
    border-radius: 100px;
}

.containerRedesSociais:hover{
    border-color: rgb(72,203,255);
    transition: 0.8s;
}

.containerRedesSociais a{
    margin-right: 10px;
}

.containerRedesSociais img:hover{
    border-bottom: 2px double rgb(72,203,255);
}

/* -------- Sobre mim ---------*/
.containerApresentacao{
    font-weight: 400;
    font-size: 2.5rem;
    color: #0d519b;
    text-align: center;
    padding: 30vh 5vh 15vh 15vh;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(30,173,255,1) 100%);
}

.containerApresentacao:hover{
  font-size: 2.8rem;
  transition: 1s;
}

.containerApresentacao h1{
  font-weight: 900;
  -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
	animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

.containerApresentacao__nome{
  color: #007bff;
  font-weight: 500;
}

.containerSobremim{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 200px 100px 200px;
  align-items: center;
  -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
  animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}

@-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-250px);
              transform: translateX(-250px);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-250px);
              transform: translateX(-250px);
    }
  }

.containerSobremim h2{
  width: 80%;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  color: #0d519b;
  margin-right: 50px;
}

.containerSobremim:hover h2{
  font-size: 1.6rem;
  transition: 1s;
}

.containerSobremim a {
  color: #5eaafc;
}

.containerSobremim img{
  border-radius: 100px;
}

.containerSobremim img:hover{
  width: 220px;
  height: 220px;
  border-radius: 250px;
  transition: 1s;
}

.containerMargin{
  margin: 5vh 15vh;
  box-shadow: #d6f2ff 0px 7px 29px 0px;
  border-radius: 10px;
  padding: 5vh;
}

.titulo{
  font-family: 'Russo One', sans-serif;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  width: auto;
  padding: 15px;
  color: #085ec5;
  margin: 0 30% 0 30%;
  border-radius: 5px;
}

.containerConhecimentos{
  background-color: #d6f2ff;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding: 15px;
  margin: 5vh;
  justify-content: space-around;
}

.containerConhecimentos__button, .containerConhecimentos__descricao{
  width: 45%;
}

.containerConhecimentos__button button{
  padding: 15px;
  background-color: #83dfff;
  border-radius: 10px;
  width: 43%;
  margin: 10px;
  height: 15vh;
  font-weight: 500;
  font-size: 1.2rem;
  color: #085ec5;
  cursor: pointer;
}

.containerConhecimentos__button button:hover{
  border: 2px solid #5eaafc;
}

.containerConhecimentos__descricao{
  background-color: #edfaff;
  border-radius: 10px;
  padding: 25px;
  line-height: 1.5;
}

#button__html, #button__css, #button__js, #button__bootstraps{
 animation-name: slides;
}

#button__html{
   animation-duration: 8s;
}

#button__css{
   animation-duration: 6s;
}

#button__js{
   animation-duration: 4s;
}

#button__bootstraps{
   animation-duration: 2s;
}




@keyframes slides {
  0%{
    transform: translateX(-250px);
  }

  100%{
     transform: translateX(0);
  }
}


#descricao__html{
  display: inline;
}

#descricao__css{
  display: none;
}

#descricao__javascript{
  display: none;
}

#descricao__bootstraps{
display: none;
}

#container__carosel{
  display: flex;
  flex-direction: column;
}

.container__projeto{
  display: flex;
  flex-direction: row;
  height: 60vh;
  justify-content: space-around;
  padding-bottom: 15px;
  border-bottom: 2px solid #d6f2ff ;
  margin-bottom: 15px;
}


.container__projeto a{
  width: 50%;
}

.container__projeto__link__img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__projeto a img{
  border-radius: 20px;
  width: 80%;
  height: 80%;
}

.container__projeto a img:hover{
  width: 100%;
  height: 100%;
  transition: 1s;
}



.container__projeto__descricao__titulo{
  font-weight: 500;
  font-size: 1.8rem;
  text-align: center;
  padding: 15px;
  height: 15%;
}

.container__projeto__descricao__titulo:hover{
  font-size: 2rem;
  text-decoration: underline;
  transition: 1s;
}

.container__projeto__descricao__tags{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 13%;
}

.container__projeto__descricao__tags p {
  padding: 10px;
  margin: 5px;
  color: white;
  background-color: #48cbff;
  width: 50%;
  text-align: center;
  border-radius: 5px;
}

.container__projeto__descricao{
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 50%;
  justify-content: space-around;
}

.container__projeto__descricao__texto{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
  margin-top: 5px;
}

.container__projeto__descricao__texto span{
  font-weight: bold;
}

















