html{
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue;
}
/* ------ Estilo do cabeçalho/menu--------*/
.container-geral{ 
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.container-topo{
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: aliceblue;
    margin-bottom: 15px;
}

#imagem-controle{
    width: 15vh;
    height: 15vh;
}

#titulo{
    width: 120vh;
    font-size: 1.5rem;
    text-align: justify;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}

span{
    font-weight: bold;
}

.container-links{
    width: 30vh;
    display: flex;
    flex-direction: row;
}

.links {
    height:40px;
    width:40px;
    margin: 0 15px;
}

/* ------ Estilo do conteudo--------*/


.conteudo{
    text-align: center;
    padding-top: 5px;
}

.conhecimentos{
    width: 250px;
    height: 250px;
    border-radius: 5px;
}

.img-background{
    padding: 50px;
    background-color: white;
    border-radius: 15px;
}

.background-conhecimentos{
    background-color: white;
    width: 96%;
    margin: 0px 2% 0 2%;
    border-radius: 15px;
    
}

h2{
    font-weight: bolder;
    font-size: 3rem;
    padding: 20px;
}

p{
    font-size: 1.5rem;
    padding-bottom: 30px;
}

.container-img-conhecimneto{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    padding: 50px;
}

/*---- Estilo projetos------*/

.imgProjetos{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin: 50px 0;
  }

.galeria-projetos{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  margin-top: 25px;
}

.container-projetos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

a{
    font-size: 1.75rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.cards{
    padding: 2%;
    margin-bottom: 2%;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
}

.cards p{
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: justify;

}
