#animacao{

animation-name: pisca;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
}

@keyframes pisca{
    50% {
        opacity: 0.01;
    }
}

.versao {
with: 150px;
heigth: 50px;
border: 2px solid black;

}
