html{
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue;
}
/* ------ Estilo do cabeçalho/menu--------*/
.container-geral{ 
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.container-topo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: aliceblue;
    margin-bottom: 15px;
    margin-left: 5%;
    margin-right: 5%;
}

#imagem-controle{
    width: 25vh;
    height: 25vh;
    padding: 15px;
}

#titulo{
    width: 70%;
    font-size: 1.5rem;
    text-align: justify;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}

span{
    font-weight: bold;
    animation-name: pisca;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.container__links{
    width: 30vh;
    display: flex;
    flex-direction: row;
}

.links {
    height:40px;
    width:40px;
    margin: 0 15px;
}

#animacao{
    animation-name: pisca;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes pisca{
    50% {
        opacity: 0.01;
    }
}


/* ------ Estilo do conhecimento--------*/


.conhecimento{
    text-align: center;
    padding-top: 5px;
}

.conhecimentos{
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.conhecimento__container__img__background{
    padding: 50px;
    background-color: white;
    border-radius: 15px;
}

.conhecimentos__background, .galeriaProjetos__background{
    background-color: white;
    width: 90%;
    margin: 0px 5% 0 5%;
    border-radius: 15px;
    
}

h2{
    font-weight: bolder;
    font-size: 3rem;
    padding: 20px;
    text-align: center;
}

p{
    font-size: 1.5rem;
    padding-bottom: 30px;
    text-align: center;
}

.conhecimento__container__img{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    padding: 50px;
}

/*---- Estilo projetos------*/


.container__projetos__imgProjetos{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin: 50px 0;
    border: solid 1px rgba(0, 0, 0, 0.103);
  }

.galeriaProjetos{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  margin-top: 25px;
}

.container__projetos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 25px;
    width: 93%;
}

a{
    font-size: 1.75rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    
}

.container__projetos__titulos{
    height: 30px;
}

.container__projetos__cards{
    padding: 2%;
    margin-bottom: 2%;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
}

.container__projetos__cards p{
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: justify;

}

section .conhecimentos__background{
    padding: 15px;
    text-align: justify;
    line-height: 33px;
}

.footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    animation-name: pisca;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.links-azul{    
    animation: none;
    font-weight: normal;
    color: rgb(73, 151, 219);
}
/*---- Estilo rodape------*/

footer{
    background-color: white;
    width: 90%;
    border-radius: 15px;
    margin: 2% 5%;
    padding: 25px;
}

footer p{
    padding: 0;
    word-wrap: break-word;
}

#versao{
    color: rgba(169, 169, 169, 0.664);
    text-decoration: underline;
    font-style: italic;
    font-weight: 100;
    animation: none;
}


/*----- Versão para Mobile menor que 900px ----*/

@media screen and (max-width: 900px) {
    .container-topo{
        flex-direction: column;
        height: auto;
    }

    #imagem-controle{
        margin: 35px;

    }

    .conhecimento__container__img{
    flex-direction: column;
    }

    #titulo{
        width: 100%;
        
    }

    .container__links{
        margin: 50px;
        animation-name: pisca;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }

    h2{
        font-size: 2rem;
    }


    .conhecimentos__background p {
        text-align: center;
        padding: 0 25px;
    }

    .conhecimento__container__img{
        padding: 0;
    }

    .conhecimentos{
        border-radius: 20px;
    }

    .galeriaProjetos{
        margin-top: 0;
    }

    .conhecimento__container__img__background{
        padding: 50px 5px;
        margin: 5% 5% 0 5%;
        width: 90%;
     
    }

    .container__projetos{
        flex-direction: column;
       
    }

    .container__projetos__cards{
        width: 100%;
        padding: 15px;
        margin-bottom: 25px;
    }

    .container__projetos__cards a{
        margin-top: 15px;
    }

    .galeriaProjetos__background{
        margin-top: 5%;
    }
}



/*----- Versão para Mobile menor que 1200px ----*/

@media screen and (min-width: 901px) {
    .conhecimento__container__img__background{
        padding: 25px;
        margin: 5px;
    }

    .conhecimento__container__img{
        margin: 5%;
        padding: 0;
        justify-content: space-between;

    }
}

@media screen and (min-width: 1001px) {
    .conhecimento__container__img__background{
        padding: 4%px;
    }
}

@media screen and (min-width: 1101px) {
    .conhecimento__container__img__background{
        padding: 4% 5%;
    }
}