h1{
    text-align: center;
    display: block;
    margin-top: 200px;
}
.container__botao{
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.container__para, .container__para2{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.botaoBlock{
    margin: 5px;
    margin-top: 50px;
    font-size: 1.5rem;
    padding: 10px;
    display: block;
    width: 150px;
    
}

input{
    width: 100%;
    margin: 5px;
    margin-top: 50px;
    font-size: 1.5rem;
    padding: 10px;
    display: block;
}

.p1{
    width: 60%;
}
.p2{
    width: 60%;
    text-align: center;
    transform: rotate(90deg);
}

button{
    margin-top: 250px;
    font-size: 1.5rem;
    padding: 10px;
    
}

button:hover{
    font-size: 1.7rem;
    padding: 12px;
    cursor: pointer;
}

footer{
    text-align: center;
}