.border-bottom{
    border-bottom: solid 4px !important;
    margin-right: 15px;
}

.dados{
    width: 99%;
    margin: 5px 0;
    margin-right: 4px;
}

.btnVoltar-bg{
    background: var(--marronEscuro-bg-btn);
    color: var(--amarelo-titulo);
}

.dados-width50{
    width: 50%;
}

@media (max-width: 760px){
    .dados-width50{
    width: 100%;
}
}