:root {
    --verde-bg-Cabecario: #1E3706;
    --amarelo-titulo: #F7D380;
    --verdeClaro-bg-btn: #005447;
    --cinza-bg: #FAF9F8;
    --vermelho-sair: #FF5757;
    --verdeClaro-bg-ContainerBordar:#859764;
    --marronEscuro-bg-btn: #443D3D;
    --tamanho-cabecario:10vh;
}

.body{
    min-height: 100vh;
    min-width: 400px;
    width: 100%;
    background: var(--cinza-bg);
}

