:root {
    --verde-bg-Cabecario: #1E3706;
    --amarelo-titulo: #F7D380;
    --verdeClaro-bg-btn: #005447;
    --cinza-bg: #FAF9F8;
    --vermelho-sair: #FF5757;
    --verdeClaro-bg-ContainerBordar:#859764;
}

.container-primario{
    min-height: 100vh;
    width: 100%;
    background: var(--cinza-bg);
}

/*--------  Cabeçario  --------*/
.container-cabecario{
    height: 70px;
    background:var(--verde-bg-Cabecario);
}






body{
    height: 100vh;
    background: var(--cinza-bg);
}

.container-bg{
    background:var(--verde-bg-Cabecario);
}
.logo{
    width: 70px;
    height: 70px;
}

h1{
    color: var(--amarelo-titulo);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.25rem;
    padding-top: 10px;
    font-weight: 100;
}

.container-bg button{
    color: var(--amarelo-titulo);
}

.btn{
    background: var(--verdeClaro-bg-btn);
    border-radius: 20px;
    padding: 5px 20px;
}

h2{
    padding-top: 20px;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 1.5rem;
}

.tela-inteira{
    height:50vh;
}

/*Tela de Login*/
.card{
    background: var(--amarelo-titulo);
    color: var(--verde-bg-Cabecario);
}
.card button{
    background: var(--verdeClaro-bg-btn);
    color: var(--amarelo-titulo);
}
@media (min-width: 700px) {
    h1{
        font-size: 2rem;
    }
    .tela-inteira{
        height: 65vh;
    }

}

@media (min-width: 700px) {
    .tela-inteira{
        height: 95vh;
    }   
}

/*home*/

.btn-sair{
    background-color: var(--vermelho-sair);
}

.container-conteudo-bordas{
    background: var(--verdeClaro-bg-ContainerBordar);
    border-radius: 25px;
    padding: 25px;
}

.negrito{
    font-weight: bold;
    font-size: 1.5rem;
}

.container-pesquisa{
    background-color: #fff;
    padding: 2px;
}

.container-pesquisa input{
    border: none;
}

.cliente{
    background: var(--cinza-bg);
}