@import url(cores.css);



/*--------  Cabeçario  --------*/
.container-cabecario{
    height: var(--tamanho-cabecario);
    background:var(--verde-bg-Cabecario);
}

.logo{
    width: var(--tamanho-cabecario);
    height: var(--tamanho-cabecario);
}

h1{
    color: var(--amarelo-titulo);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.25rem;
    padding-top: 10px;
}

.btnLogin-bg{
    background: var(--verdeClaro-bg-btn);
    color: var(--amarelo-titulo);
}

.btn-sair{
    background-color: var(--vermelho-sair);
    color: var(--amarelo-titulo);
}

/*--------  Quem Somos  --------*/


.imgPlantaGerminandoPrimeiraTela, .containerQuemSomos, .container-login, .container-clientes, .imgIndex{
    min-height: 45vh;
    min-width: 50%;
    max-width: 100%;
}

.imgPlantaGerminandoPrimeiraTela{
    border-radius: 15px;
}


h2{
    font-family: 'Tenor Sans', sans-serif;
}

@media (max-width: 768px){
    .container-clientes{
        width: 100%;
    }
}

@media (min-width: 768px) {
    h1{
        font-size: 1.5rem;
    }
}

@media (min-width: 992px) {
    .imgPlantaGerminandoPrimeiraTela, .containerQuemSomos, .container-login, .container-clientes, .imgIndex{
        min-height: 90vh;
        max-width: 50%;
    }
    h1{
        font-size: 2rem;
    }
    .container-bg-clientes{
        margin-left: 5rem !important;
        margin-right: 5rem !important;
    }
}

@media (min-width: 769px){
    .container-clientes{
        width: 100%;
        justify-content: space-around
    };

}

/*--------  Clientes  --------*/
.container-bg-clientes{
    background: var(--verdeClaro-bg-ContainerBordar);
    border-radius: 50px;
}

.container-bg-clientes p {
    font-size: 1.5rem;
    font-weight: bold;
}

.cliente{
    background: var(--cinza-bg);
    padding: 10px;
    min-width: 48%;
    border-radius: 25px;
    border: none;
}

.resultado{
    font-size: 1.5rem;
}



/*--------  RESULTADO  --------*/
